<cc-map-search
    (applySearch)="search($event)"
    (resetSearch)="resetSearch()"
/>

<button
    matIconButton
    class="about-button"
    title="About this project"
    aria-label="About this project"
    (click)="openAboutDialog()"
>
    <mat-icon>info_i</mat-icon>
</button>

<button
    matMiniFab
    class="home-button"
    aria-label="Reset map view"
    (click)="onHomeClick()"
>
    <mat-icon>{{ isZoomedOut() ? 'zoom_in_map' : 'zoom_out_map' }}</mat-icon>
</button>

<mgl-map
    class="map"
    [mapStyle]="mapStyle"
    [center]="initialCenter"
    [zoom]="[ZoomLevel.Initial]"
    [minZoom]="1"
    [maxZoom]="9"
    [maxBounds]="maxBounds"
    [dragRotate]="false"
    [cursorStyle]="cursorStyle()"
    (zoomEvt)="onMapZoom($event)"
    (mapLoad)="onMapLoad($event)"
    (mapClick)="onMapClick($event)"
    (mapDragStart)="onMapDragStart()"
    (mapDragEnd)="onMapDragEnd()"
>
    @for (polygonType of polygonTypes; track polygonType) {
        <mgl-geojson-source
            [id]="polygonType"
            [data]="geodataUrls[polygonType]"
        />
        <mgl-layer
            [id]="polygonType + '-fill'"
            type="fill"
            [source]="polygonType"
            [paint]="polygonsPaint[polygonType]"
        />
    }

    <mgl-layer
        id="mountains-outline"
        type="line"
        source="mountains"
        [layout]="mountainsOutlineLayout"
        [paint]="mountainsOutlinePaint.outline"
        before="mountains-edge-blur"
    />

    <mgl-layer
        id="mountains-edge-blur"
        type="line"
        source="mountains"
        [layout]="mountainsOutlineLayout"
        [paint]="mountainsOutlinePaint.blur"
        before="steppes-fill"
    />

    @for (lineType of lineTypes; track lineType) {
        <mgl-geojson-source
            [id]="lineType"
            [data]="geodataUrls[lineType]"
        />
        <mgl-layer
            [id]="lineType + '-line'"
            type="line"
            [source]="lineType"
            [paint]="linesPaint[lineType]"
        />
    }

    <mgl-geojson-source
        id="wall"
        [data]="geodataUrls.wall"
    />
    <mgl-layer
        id="wall-line"
        type="line"
        source="wall"
        [layout]="linesLayout.wall"
        [paint]="linesPaint.wall"
        before="wall-label"
        (layerMouseEnter)="onFeatureEnter($event)"
        (layerMouseLeave)="onFeatureLeave()"
    />
    <mgl-layer
        id="wall-shadow"
        type="line"
        source="wall"
        [layout]="linesLayout.wall"
        [paint]="linesShadow.wall"
        before="wall-line"
    />

    @for (labeledType of labeledTypes; track labeledType) {
        <mgl-layer
            [id]="labeledType + '-label'"
            type="symbol"
            [source]="labeledType"
            [layout]="labelLayout[labeledType] || defaultLabelLayout"
            [paint]="labelPaint[labeledType]"
            [minzoom]="labelsMinZoom[labeledType] || 0"
        />
    }

    <mgl-geojson-source
        id="continents-label-points"
        [data]="continentsLabelPoints()"
    />
    <mgl-layer
        id="continents-label"
        type="symbol"
        source="continents-label-points"
        [layout]="labelLayout.continents"
        [paint]="labelPaint.continents"
        [maxzoom]="ZoomLevel.Low"
        before="kingdoms-label"
    />

    <mgl-geojson-source
        id="kingdoms-label-points"
        [data]="kingdomsLabelPoints()"
    />
    <mgl-layer
        id="kingdoms-label"
        type="symbol"
        source="kingdoms-label-points"
        [layout]="labelLayout.kingdoms"
        [paint]="labelPaint.kingdoms"
        [minzoom]="ZoomLevel.Low"
        [maxzoom]="ZoomLevel.Medium"
        before="lands-label"
    />

    <mgl-geojson-source
        id="locations"
        [data]="geodataUrls.locations"
    />

    @for (type of locationTypes; track type) {
        @if (type === 'ruins') {
            <mgl-layer
                [id]="type + '-point'"
                before="cities-label"
                type="symbol"
                source="locations"
                [filter]="locationsFilter[type]"
                [layout]="symbolMarkerLayout"
                [paint]="symbolMarkerPaint"
                [minzoom]="locationsMinZoom[type] || 0"
                (layerMouseEnter)="onFeatureEnter($event)"
                (layerMouseLeave)="onFeatureLeave()"
            />
        } @else {
            <mgl-layer
                [id]="type + '-point'"
                before="cities-label"
                type="circle"
                source="locations"
                [filter]="locationsFilter[type]"
                [paint]="pointsPaint"
                [minzoom]="locationsMinZoom[type] || 0"
                (layerMouseEnter)="onFeatureEnter($event)"
                (layerMouseLeave)="onFeatureLeave()"
            />

            <mgl-layer
                [id]="type + '-shadow'"
                [before]="type + '-point'"
                type="circle"
                source="locations"
                [filter]="locationsFilter[type]"
                [paint]="pointsShadow"
                [minzoom]="locationsMinZoom[type] || 0"
            />
        }

        <mgl-layer
            [id]="type + '-label'"
            type="symbol"
            source="locations"
            [filter]="locationLabelsFilter[type]"
            [minzoom]="locationsMinZoom[type] || 0"
            [layout]="labelLayout.locations"
            [paint]="labelPaint.locations"
        />
    }

    @let gradients = gradientCoordinates | keyvalue;
    @for (gradient of gradients; track gradient.key) {
            <mgl-image-source
                [id]="gradient.key + '-gradient'"
                [url]="gradientUrl"
                [coordinates]="gradient.value"
            />
            <mgl-layer
                [id]="gradient.key + '-gradient-layer'"
                type="raster"
                [source]="gradient.key + '-gradient'"
                [paint]="gradientPaint"
            />
    }

    <mgl-geojson-source
        id="dim-overlay"
        [data]="dimOverlay()"
    />
    <mgl-layer
        id="dim-overlay-layer"
        type="fill"
        source="dim-overlay"
        before="north-gradient-layer"
        [paint]="dimOverlayPaint"
        [layout]="searchHighlightPolygonLayout()"
    />

    <mgl-geojson-source
        id="search-highlight"
        [data]="searchHighlight()"
    />
    <mgl-layer
        id="search-highlight-line"
        type="line"
        source="search-highlight"
        before="rivers-line"
        [paint]="searchHighlightLinePaint"
        [layout]="searchHighlightLineLayout()"
    />
    <mgl-layer
        id="search-highlight-point"
        type="circle"
        source="search-highlight"
        before="cities-point"
        [paint]="searchHighlightPointPaint"
        [layout]="searchHighPointLayout()"
    />
</mgl-map>
