:host {
    display: inline-block;
}

.star {
    transform-box: fill-box;
    transform-origin: center 53.6%;

    &.spinning {
        animation: spin 3s linear infinite;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
