@let locationData = location();
@let locationArea = locationData | area;

<div class="tooltip">
    <h5 class="tooltip-title">{{ locationData.name }}</h5>

    <div class="tooltip-subtitle">
        @if (locationData.type) {
            <span>{{ locationData.type }}</span>

            @if (locationArea?.length) {
                <span class="bullet">&bull;</span>
            }
        }

        @for (areaPart of locationArea; track areaPart; let last = $last) {
            <span>{{ areaPart }}</span>

            @if (!last) {
                <span>, </span>
            }
        }
    </div>
</div>
