<div class="tooltip">
    <h5 class="tooltip-title">{{ location().name }}</h5>

    <div class="tooltip-subtitle">
        @if (location().type) {
            <span>{{ location().type }}</span>
        }

        @if (area()?.length) {
            <span class="bullet">&bull;</span>
        }

        @for (areaPart of area(); track areaPart; let last = $last) {
            <span>{{ areaPart }}</span>

            @if (!last) {
                <span>, </span>
            }
        }
    </div>
</div>
