:host {
    transform: scale(.1);
}

.star {
  animation: spin 3s linear infinite;
  transform-box: fill-box;
  transform-origin: center 53.6%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}